/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #bbbbbb;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #333333;
  width: 100%;
  top: 0;
  left: 0;
  height: 68px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #00b8d4;
  font-family: sans-serif;
  font-size: 19px;
}

.navbar .current a {
  color: #b2f5ea;
  font-weight: bold;
}

.navbar a:hover {
  color: white;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
}

.navbar li {
  list-style: none;
  padding: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

main {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture-frame {
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.picture {
  width: 200px;
  height: 200px;
}

main .introduction {
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .introduction h1 {
  font-weight: bold;
  font-size: xxx-large;
  margin-bottom: 0;
  text-align: center;
}

main .introduction p {
  margin-top: 1rem;
  font-size: x-large;
  margin-bottom: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

.introduction a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #007ea8;
  font-weight: bold;
  padding: 2px;
  height: 30px;
  width: 126px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #007ea8;
  border-radius: 4px;
}

.introduction a:hover {
  background-color: #007ea8;
  color: white;
  border-color: white;
}

main .about {
  margin-top: 0;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 0;
  text-align: center;
  color: #333333;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

main summary {
  font-family: sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
  margin-bottom: 1rem;
  padding-bottom: 0;
  text-align: center;
}

.class-list ul {
  margin: 0;
  padding: 0;
}

.class-list {
  font-family: sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  list-style-position: inside;
}

.acknowledge-text {
  font-family: sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.embed-container {
  width: 100%;
  max-width: 720px;
  height: 60vh;
  margin: 0;
  margin-top: 16px;
}

.embed-container embed {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  text-align: center;
}

.contact-info h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.contact-info a {
  margin-top: 0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #0000ee;
  padding-bottom: 24px;
  text-decoration: none;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 8px;
  gap: 16px;
  width: 100%;
  max-width: 780px;
  align-items: flex-end;
  font-family: sans-serif;
}

.feedback-form input[type="email"],
.feedback-form input[type="file"],
.feedback-form textarea {
  display: block;
  padding: 0.8rem;
  font-family: sans-serif;
  width: 587px;
  border: none;
  border-radius: 3px;
  border: 1px solid #dddddd;
}

.form-field {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.feedback-label {
  align-items: flex-start;
}

.feedback-label label {
  margin-top: 4px;
}

.form-field input[type="file"] {
  border: 1px solid #dddddd;
}

.feedback-form .checkbox-container label {
  display: block;
  font-family: sans-serif;
  width: 275px;
  text-align: left;
}

.checkbox-container input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 132px;
}

.checkbox-container {
  width: 780px;
  display: flex;
  align-items: center;
  height: 51px;
  gap: 16px;
  margin-top: 9px;
}

#checkbox {
  border-radius: 3px;
  border: 3px solid #888888;
}

.feedback-form .send-feedback button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #007ea8;
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 9px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #007ea8;
  border-radius: 4px;
  font-size: 13.6px;
  margin-left: 165px;
  cursor: pointer;
}

.feedback-form .send-feedback {
  align-self: flex-start;
}

.feedback-form .send-feedback button:hover {
  background-color: #007ea8;
  color: white;
  border-color: white;
}

.feedback-form .form-field label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #333333;
  text-align: right;
}

@media (max-width: 480px) {
  .form-field,
  .checkbox-container,
  .send-feedback,
  .feedback-form {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    gap: 16px;
  }

  .form-field {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
  }

  .feedback-form input[type="email"],
  .feedback-form input[type="file"],
  .feedback-form textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .checkbox-container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .checkbox-container input[type="checkbox"] {
    margin-left: 4px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .feedback-form .checkbox-container label {
    width: auto;
    margin-top: -5px;
  }

  .feedback-form .send-feedback button {
    margin-left: 0;
    margin-top: 15px;
  }

  #email {
    margin-bottom: -13px;
  }
}
