/*
 * style.css
 *
 * CSC309 Assignment 1
 * 
 * University of Toronto
 * Fall 2025
 *
 */

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #bbbbbb;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #333333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 68px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #00b8d4;
  font-family: sans-serif;
  font-size: 19px;
}

.navbar .current a {
  color: #b2f5ea;
  font-weight: bold;
}

.navbar .current a:hover {
  color: white;
}

a:hover {
  color: white;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0.5rem;
}

.navbar li {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #333333;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

main {
  padding-top: 196px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture-frame {
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.picture {
  width: 200px;
  height: 200px;
}

main .introduction {
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .introduction h1 {
  font-weight: bold;
  font-size: xxx-large;
  margin-bottom: 0;
  text-align: center;
}

main .introduction p {
  margin-top: 1rem;
  font-size: x-large;
  margin-bottom: 24px;
  margin-right: 16px;
}

main a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #007ea8;
  font-weight: bold;
  padding: 2px;
  height: 30px;
  width: 126px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #007ea8;
  border-radius: 4px;
}

main a:hover {
  background-color: #007ea8;
  color: white;
  border-color: white;
}
